.ExamsForm {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  label {
    font-family: Roboto;
    font-size: 1.25em !important;
    font-weight: lighter;
  }
  .ant-transfer {
    justify-content: center;
    margin-top: 2.5em;
  }
}
.ant-dropdown {
  .ant-dropdown-menu {
    display: none;
  }
}
