.ExamsForm {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  label {
    font-family: Roboto;
    font-size: 1.25em !important;
    font-weight: lighter;
  }
  .ant-transfer {
    margin-top: 2.5em;
    justify-content: space-evenly;
  }
}
